body { 
    background-color:aqua;
}
p {
    color: pink;
}
h1 { text-transform: uppecase; 
    color: darkmagenta;
 text-transform: uppecase; 
    font-size: 24px;
    font-style: italic;
}

img {
    border: dotted blue 3px;
    border-radius: 30px;
}
